blinker==1.8.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
Flask==3.0.3
git-filter-repo==2.45.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lightgbm==4.5.0
llvmlite==0.43.0
MarkupSafe==2.1.5
numba==0.60.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.1
setuptools==74.1.2
shap==0.46.0
six==1.16.0
slicer==0.0.8
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
Werkzeug==3.0.3
wheel==0.44.0



